.button {
  display: inline;
  background: #000; }
  .button:hover {
    background: #000000; }
  .button__item {
    font-size: 20px;
    margin-top: inherit;
    font-size: 3em; }
  .button-secondary {
    font-size: 6em; }

.widget {
  margin: 0; }
  footer .widget {
    /*el & repite el padre .widget*/
    margin-top: 1em; }

.menu, .menu ul {
  list-style: none; }

.button {
  color: green; }
  .button a.button {
    color: red; }

.icon-menu {
  color: #1e6d59; }

.link {
  font-size: 1.4em;
  font-family: 'Arial';
  font-weight: 200; }

.banner {
  width: 400px;
  height: 300px;
  background-image: url(fondo.jpg), url(share.jpg), url(casa.png);
  background-size: 40px, 150px, cover;
  background-repeat: no-repeat;
  -webkit-animation-name: flotar;
          animation-name: flotar;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation: flotar 2s linear;
          animation: flotar 2s linear; }

/* Tipos de datos */
.data {
  type: number; }

.data-string {
  type: string;
  type2: list; }

.data-string-num {
  type: number;
  width: 50px;
  values: 100px; }

.data-color {
  type: color;
  value: #fff; }

.data-bool {
  type: bool;
  value: true; }

.data-null {
  type: null; }

.data-list {
  type: list;
  value: 1 23, 45 6;
  length: 2; }

.data-map {
  type: map;
  value: blue; }
  .data-map .facebook {
    background-color: blue; }
  .data-map .twitter {
    background-color: #588cbd; }
  .data-map .youtube {
    background-color: red; }
  .data-map .instagram {
    background-color: salmon; }

/* Operaciones */
.div {
  width: 5 -3;
  width: 98; }

.di2 {
  width: 3.25;
  width: 13px / 4px; }

.div3 {
  p: number; }

/* Interpolacion */
div .webd:nth-child(2) {
  background: rebeccapurple; }
  div .webd:nth-child(2):before {
    content: "Bienvenido a webd"; }

/* Placeholder */
.boton1, .boton2, .boton3 {
  margin: 0 auto;
  color: palegreen;
  font-size: 1.5vw; }

.boton1 {
  background: green; }

.boton2 {
  background: blue; }

/* MIXINS */
.card {
  display: inline-block;
  line-height: 2;
  padding: 1.5em;
  /* & .small-descriptiva{
      @include first-mixin($line-h:1,
                           $font-z:.8em,
                           $margin-t: .4em,
                           $bg-card: red);
    } */ }
  .card .small {
    display: inline-block;
    line-height: 1;
    padding: 0.8em; }

.widget-class {
  display: block;
  padding: 1.5em; }
  header.widget-class {
    font-family: arial;
    color: blue; }

.box {
  /* @include multiple (1px solid red, 2px dashed pink); */
  -webkit-box-shadow: 1px solid red, 2px dashed pink, 3px dotted black;
          box-shadow: 1px solid red, 2px dashed pink, 3px dotted black; }

.menu-class {
  list-style: none; }
  .menu-class li {
    float: right; }

/* Grid con Mixins */
.cols-6 {
  /* width: percentage($cols / 12); */
  width: 3.01508%; }

/* Media Queries */
.caja {
  background: red; }
  @media screen and (min-width: 40em) {
    .caja {
      background: goldenrod;
      /* poner mixin dentro de otro */ } }
  @media screen and (min-width: 60em) {
    .caja {
      background: green;
      /* poner mixin dentro de otro */ } }
  @media screen and (min-width: 80em) {
    .caja {
      background: violet;
      /* poner mixin dentro de otro */ } }

/*.box{ // device-width:480 MAL XXXXX
  color: #ff0000;
  @media secreen and(max-width:500px){
    color: green;
  }
}*/
.video-box {
  height: 0;
  overflow: hidden;
  padding-bottom: 50%;
  padding-bottom: 50%;
  background: cadetblue;
  width: 100%;
  /*^^^Truco de css para calcula la altura respecto al ancho del elemento con %padding  */
  position: relative; }
  .video-box iframe,
  .video-box video,
  .video-box object {
    position: absolute;
    width: 100%;
    height: 100%; }

/* Funciones */
.rgb {
  background-color: magenta; }

.box {
  width: calc(100%-10%); }

.data {
  value: "no-repeat";
  background-repeat: no-repeat; }
  .data::before {
    content: "12px"; }

.porcentaje {
  width: 1000%;
  width: 20%;
  width: 60%; }

.redondeo {
  width: 2; }

.unit {
  width: "em"; }

.unit {
  width: false; }

.unit2 {
  width: 30em; }

/* Hacer Funciones propias*/
.suma {
  width: 15em; }

p {
  font-size: 0.5em; }

div {
  font-size: 24px; }
  div p {
    font-size: 0.29167em; }

div {
  background-image: url("../../../dist/assets/img/bg.jpg"); }

.sombra {
  width: 100px;
  height: 100px;
  background: #cc0000;
  -webkit-box-shadow: 1px 1px red, 2px 2px red, 3px 3px red, 4px 4px red, 5px 5px red, 6px 6px red, 7px 7px red, 8px 8px red, 9px 9px red, 10px 10px red, 11px 11px red, 12px 12px red, 13px 13px red, 14px 14px red, 15px 15px red, 16px 16px red, 17px 17px red, 18px 18px red, 19px 19px red, 20px 20px red, 21px 21px red, 22px 22px red, 23px 23px red, 24px 24px red, 25px 25px red, 26px 26px red, 27px 27px red, 28px 28px red, 29px 29px red, 30px 30px red, 31px 31px red, 32px 32px red, 33px 33px red, 34px 34px red, 35px 35px red, 36px 36px red, 37px 37px red, 38px 38px red, 39px 39px red, 40px 40px red, 41px 41px red, 42px 42px red, 43px 43px red, 44px 44px red, 45px 45px red, 46px 46px red, 47px 47px red, 48px 48px red, 49px 49px red, 50px 50px red;
          box-shadow: 1px 1px red, 2px 2px red, 3px 3px red, 4px 4px red, 5px 5px red, 6px 6px red, 7px 7px red, 8px 8px red, 9px 9px red, 10px 10px red, 11px 11px red, 12px 12px red, 13px 13px red, 14px 14px red, 15px 15px red, 16px 16px red, 17px 17px red, 18px 18px red, 19px 19px red, 20px 20px red, 21px 21px red, 22px 22px red, 23px 23px red, 24px 24px red, 25px 25px red, 26px 26px red, 27px 27px red, 28px 28px red, 29px 29px red, 30px 30px red, 31px 31px red, 32px 32px red, 33px 33px red, 34px 34px red, 35px 35px red, 36px 36px red, 37px 37px red, 38px 38px red, 39px 39px red, 40px 40px red, 41px 41px red, 42px 42px red, 43px 43px red, 44px 44px red, 45px 45px red, 46px 46px red, 47px 47px red, 48px 48px red, 49px 49px red, 50px 50px red; }

.no-unit {
  line-height: 40392; }
/*# sourceMappingURL=estilos.css.map */